{% extends "receipts/base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>Upload Receipt</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.file.label_tag }}
                        {{ form.file }}
                        {% if form.file.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.file.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <a href="{% url 'receipt_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}